*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5A86AD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: auto;
    display: flex;
    margin: 50px ;
}
.container_social{
    background-color: #FFF;
    width: 300px;
    max-height: 519px;
    border-radius: 10px;
}
.area_foto{
    width: 160px;
    margin: auto;
    padding-top: 30px;
}
.area_foto img {
    width: 160px;
    border-radius: 80px;
}
.area_nome {
    margin-top: 15px;
    text-align: center;
}
.area_nome p{
    font-size: 24px;
}
.area_informacoes {
    margin-top: 30px;
    text-align: center;
}
.area_informacoes button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #5A86AD;
    color: #FFF;
    margin: 5px;
}
.area_informacoes button a {
    color: #FFF;
    text-decoration: none;
}
.area_informacoes button a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.area_localização{
    background-color:  rgb(207, 207, 207);
    margin: 30px 0px;
    padding: 15px 0px;
    text-align: center;

}
.area_botao_email{
    text-align: center;
    padding-bottom: 20px;
}
.area_botao_email button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(88, 133, 230);
    cursor: pointer;
}
.area_botao_email a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}



.container_info {
    background-color: #5A86AD;
    margin-left: 30px;
    border-radius: 10px;
    width: 690px;
}
.area_sobremim {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}
.area_sobremim .getway {
    background-color:  rgb(88, 133, 230);
    width: 40px;
    height: 4px;
    margin: 5px 0px 20px 0px;
}

.area_2 {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.area_menu ul {    
    display: flex;
    list-style: none;
}
.area_menu li a{
    padding: 5px 8px;
    margin-right: 6px;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
}
.area_menu li a:hover{
    background-color: #5A86AD;
    color: #FFF;
}

.area_3 {
    background-color: #5A86AD;
    border-radius: 10px;
    margin-top: 10px;
}

.conhecimento {
    height: 281px;
    display: none;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}
.habilidades .area_icones img{
    width: 50px;
    height: 50px;
}
.area_fonte {
    margin-top: 20px;
    justify-content: flex-end;
}
.area_fonte ul {
    margin-left: 17px;
    margin-top: 10px;
}
.area_fonte li {
    margin: 3px 0px;
}
.area_fonte .info{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 15px;
}

.projetos {
    border-radius: 10px;
    display: block;
}
.projetos .getway {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}
.projetos .getway .titulo {
    margin-bottom: 20px;
}
.projetos .getway .area_projeto .imagem {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.projetos .getway .imagem img {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px #999;
}
.projetos .getway .info {
    margin-top: 10px
}
.projetos .getway .info a{
    color: rgb(54, 54, 252);
    text-decoration: none;
}
.projetos .getway .info a:hover{
    color: rgb(110, 110, 255);
    text-decoration: underline;
}