*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1B2431;
}
.container{
    max-width: 1070px;

    margin: auto;
    padding: 0px 24px;

    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;    
    /*align-items: center;*/
}
article {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}
.area_botoes,
.area_menu,
button{
    user-select:none;
}

/*área esquerda/social/left*/
.container_social{
    width: 300px;
    height: 580px;

    padding: 30px 0px;
    background-color: #FFF;
    border-radius: 8px;
}
.area_foto{
    width: 160px;
    margin: auto;
}
.area_foto img {
    width: 160px;
    border-radius: 80px;
}
.area_nome {
    margin-top: 15px;
    text-align: center;
}
.area_nome p{
    font-size: 24px;
    font-weight: 500;
}

/*area para contato*/
.area_botoes {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.area_botoes ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.area_botoes li{
    padding: 3px 10px;
    margin: 5px 2px;

    border: none;
    border-radius: 20px;

    background-color: #016795;
    color: #FFF;
}
.area_contato{
    margin-top: 20px;
    padding: 15px 0px;

    text-align: center;
    background-color: rgb(207, 207, 207);
}
.area_contato ul {
    list-style: none;
}
.area_contato li {
    padding: 5px 0px;
}
.area_contato li a{
    color: #000;
    text-decoration: none;
}
.area_contato li a:hover{
    color: #000;
    text-decoration: underline;
}
/*botão email*/
.area_botao_email{
    text-align: center;
    margin-top: 20px;
}
.area_botao_email button {
    padding: 10px 15px;
    cursor: pointer;

    border: none;
    border-radius: 20px;

    background-color: rgb(12, 79, 224);
}
.area_botao_email a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}
/*end*/

/*area informações/right/direita*/
.container_info {
    width: 690px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #1B2431;
}
/*sobre mim*/
.area_sobremim {
    padding: 20px;
}

/*widget traço azul*/
.area_sobremim .widget {
    width: 40px;
    height: 4px;
    margin: 5px 0px 20px 0px;
    background-color: rgb(31, 94, 228);
}

/*menu*/
.area_menu {
    padding: 20px;
    margin-top: 10px;
}
.area_menu ul {    
    display: flex;
    list-style: none;
}
.area_menu li {
    color: #000;
    text-decoration: none;

    padding: 5px 10px;
    margin-right: 6px;
    border-radius: 20px;
}
.area_menu li.active{
    background-color:  #016795;
    color: #FFF;
}

.area_menu li:hover{
    background-color: #016795;
    color: #FFF;
    cursor: pointer;
}

/*habilidades*/
.area_habilidades {
    padding: 20px;
}

#area_fonte{
    margin-top: 10px;
}
#area_fonte ul {
    margin-left: 17px;
    margin-top: 10px;
}
#area_fonte li {
    margin: 3px 0px;
}
#area_fonte .info{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 15px;
}
.habilidades {
    margin-top: 20px;
}
.habilidades .area_icones {
    margin-top: 5px;
}
.habilidades .area_icones img{
    width: 40px;
    height: 40px;
}

/*projetos*/
#projetos {
    border-radius: 10px;
    margin-top: 10px;
}
#projetos .widget {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}
#projetos .widget .titulo {
    margin-bottom: 20px;
}
#projetos .widget .area_projeto .imagem {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
#projetos .widget .imagem img {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px #999;
    border-radius: 5px;
}
#projetos .widget .info {
    margin-top: 10px
}
#projetos .widget .info a{
    color: rgb(54, 54, 252);
    text-decoration: none;
}
#projetos .widget .info a:hover{
    color: rgb(110, 110, 255);
    text-decoration: underline;
}

/*class JS, ocultar objetos*/
.oculto {
    display: none;
}