*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: auto;
    display: flex;
}
.container_social{
    background-color: rgb(226, 226, 226);
    width: 300px;
    border-radius: 10px;
}
.area_foto{
    width: 160px;
    margin: auto;
    padding-top: 30px;
}
.area_foto img {
    width: 160px;
    border-radius: 80px;
}
.area_nome {
    margin-top: 15px;
    text-align: center;
}
.area_nome p{
    font-size: 24px;
}
.area_função {
    margin-top: 15px;
    text-align: center;
}
.area_função button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(182, 182, 182);
}
.area_localização{
    background-color:  rgb(207, 207, 207);
    margin: 40px 0px;
    padding: 15px 0px;
}
.area_localização ul{
    list-style: none;
    width: 190px;
    margin: auto;
}
.area_localização li {
    padding: 3px 0px;
}
.area_localização li a {
    text-decoration: none;
    color: #000;
}
.area_localização li a:hover {
    text-decoration: underline;
}
.area_botao_email{
    text-align: center;
    padding-bottom: 20px;
}
.area_botao_email button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(88, 133, 230);
    cursor: pointer;
}
.area_botao_email a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}



.container_info {
    background-color: rgb(226, 226, 226);
    margin-right: 30px;
    border-radius: 10px;
    width: 690px;
}

.area_sobremim{
}
.area_sobremim .titulo {
    margin: 20px 20px 0px 20px;
}
.area_sobremim .getway {
    background-color:  rgb(88, 133, 230);
    width: 40px;
    height: 4px;
    margin: 5px 0px 20px 20px;
}
.area_sobremim .texto {
    margin:  0px 20px;
}

.area_menu ul {    
    display: flex;
    list-style: none;
    margin: 20px;
    margin-top: 30px;
}
.area_menu li {
    padding: 5px 8px;
    margin: 6px;
    border-radius: 20px;
}
.area_menu .active {
    background-color: rgb(207, 207, 207);
}
.area_menu li:hover{
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}

.conhecimento {
    margin: 20px;
    height: 290px;
    display: none;
}
.habilidades .area_icones img{
    width: 50px;
    height: 50px;
}
.area_fonte {
    margin-top: 20px;
    justify-content: flex-end;
}
.area_fonte ul {
    margin-left: 17px;
    margin-top: 10px;
}
.area_fonte li {
    margin: 3px 0px;
}
.area_fonte .info{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 15px;
}
